facenet-pytorch==2.5.2
faiss-cpu==1.7.3
numpy==1.26.4
opencv-python-headless==4.10.0.84
streamlit==1.21.0
tensorflow==2.17.0
tensorflow-datasets==4.9.6
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.15.0
tensorflow-probability==0.24.0
torch==2.2.2
torchsummary==1.5.1
torchvision==0.17.2
